:root{
    --main-color : #009ad8;
}

body{
    background-color: #1E202B;
}


.btn-outline-primary {
	--bs-btn-color: white;
	--bs-btn-border-color: transparent;
	--bs-btn-hover-color: var(--main-color);
	--bs-btn-hover-bg: transparent;
	--bs-btn-hover-border-color: var(--main-color);
	--bs-btn-focus-shadow-rgb: 13, 110, 253;
	--bs-btn-active-color: var(--main-color);
	--bs-btn-active-bg: transparent;
	--bs-btn-active-border-color: var(--main-color);
	--bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
	--bs-btn-disabled-color: #0d6efd;
	--bs-btn-disabled-bg: transparent;
	--bs-btn-disabled-border-color: #0d6efd;
	--bs-gradient: none;
}

.header .navbar .navbar-brand h5{
    font-size: .7rem;
}


input[type="text"]::placeholder{
    color: white;
}
input[type="text"]{
    background-color: #1E202B;
    box-shadow: none;
    border: none;
}
input[type="text"]:focus{
    box-shadow: none;
    border: none;
}
button.find-button{
    top: 5px;
    bottom: 5px;
    right: 5px;
    padding: 0 40px;
        --bs-btn-bg: var(--main-color);
        --bs-btn-border-color: var(--main-color);
        --bs-btn-hover-bg: var(--main-color);
        --bs-btn-hover-border-color: var(--main-color);
        --bs-btn-active-bg: var(--main-color);
        --bs-btn-active-border-color: var(--main-color);
        --bs-btn-disabled-bg: #0d6efd;
        --bs-btn-disabled-border-color: #0d6efd;
    outline: none;
}
div.search-bar {
    background-image: url(../images/banner.png);
    background-size: cover ;
    padding-block: 70px;
    min-height: 350px;
}

.temp-status .container .row{
    margin-top: -200px;
}


.card-header-color{
    background-color: #2D303D;
}

.card-header-color2{
    background-color: #222531;
}

.card-body-color{
    background-color: #323544;
}
.card-body-color2{
    background-color: #262936;
}



.card-body{
    color: #bfc1c8;
}
.card-body h3 {
    font-size: 6.4285714286rem;
}

.nod {
    bottom: 30px;
    font-weight: 600;
}

.nod2 {
    bottom: 10px;
    font-weight: 600;
}


.text-custom{
    color: var(--main-color);
}


footer {
    background-color: #262936;
    transform: translatey(3px);
}
footer input, footer input::placeholder,footer input + button,div.row + p{
    font-size: .8rem !important;
}


ul.social-list li a{
    display: block;
    width: 40px !important;
	height: 40px !important;
	display: inline-block;
	border-radius: 50%;
	background: #1e202b;
	color: #009ad8;
	text-align: center;
	line-height: 2;
	-webkit-transition: 0.3s ease;
	transition: 0.3s ease;
}

ul.social-list li a:hover{
    background: #009ad8;
    color: white;
}

@media (min-width: 576px) {
    .container-sm, .container {
      max-width: 540px;
    }
  }
  @media (min-width: 768px) {
    .container-md, .container-sm, .container {
      max-width: 750px;
    }
  }
  @media (min-width: 992px) {
    .container-lg, .container-md, .container-sm, .container {
      max-width: 970px;
    }
  }
  @media (min-width: 1200px) {
    .container-xl, .container-lg, .container-md, .container-sm, .container {
      max-width: 1170px;
    }
  }
  @media (min-width: 1400px) {
    .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
      max-width: 1170px;

    }
  }